*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(2 44 34 / var(--tw-bg-opacity, 1));
    background-image: url(./assets/erinfishing.png);
    background-repeat: no-repeat;
    background-position: right 25px;
    color: rgb(254 243 199 / var(--tw-text-opacity, 1));
    font-family: "Alegreya", ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .025em;
    height: 100%;
}

#everything {
    display: flex;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgb(6 78 59 / var(--tw-border-opacity, 1));
    --tw-border-opacity: 1;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

#mainContent {
    width: 80vw;
}

#instructContainer {
    margin-left: 20%;
    margin-right: 20%;
}

#instructions {
    margin: 0;
    border-style: dotted;
    --tw-border-opacity: 1;
    border-color: rgb(6 95 70 / var(--tw-border-opacity, 1));
    border-top-width: 2px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
}

.instructionItem {
    padding: 0.25rem;
    margin: 0.5rem;
    line-height: 2rem;
}

#instructions ::marker {
    color: #059669;
}

.instructionHighlight {
    color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}


#header {
    display: flex;
    align-items: center;
}

#titles {
    display: flex;
}

.fontSans {
    font-family: "Alegreya Sans", ui-sans-serif, system-ui, sans-serif;
    font-weight: 700;
}

#title {
    font-size: 2.1rem;
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
    margin: 10px;
}

#subtitle {
    font-size: 0.8rem;
    padding-top: 8px;
    text-align: left;
    letter-spacing: 0;
    --tw-text-opacity: 1;
    color: rgb(203 203 166 / var(--tw-text-opacity, 1));
    margin: 10px;
}

#fishingTitle {
    font-style: italic;
    font-size: 3rem;
    line-height: 1;
}

#questionDiv {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: dotted;
    --tw-border-opacity: 1;
    border-color: rgb(6 95 70 / var(--tw-border-opacity, 1));
    border-top-width: 2px;
    max-width: 1200px;
}

#questionDirection {
    font-size: 1.125rem;
    letter-spacing: .1em;
    margin-top: 1rem;
    color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}

.categories {
    display: inline;
    font-size: 1.25rem;
    letter-spacing: .025em;
}

#catContainer {
    padding-inline-start: 0;
}

.catSeparator {
    padding-left: .125rem;
    padding-right: .125rem;
    vertical-align: middle;
    font-size: .5em;
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
}

#questionInterface {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-top-width: 1px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(4 120 87 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(0 34 24 / var(--tw-bg-opacity, 1));
}

svg {
    padding: 5px;
    width: 3rem;
    height: 3rem;
    fill: currentcolor;
}

#skipButton {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    height: 5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(6 78 59 / var(--tw-bg-opacity, 1));
    font-family: "Alegreya", ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
    line-height: 1;
    font-size: 1.875rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(209 250 229 / var(--tw-text-opacity, 1));
    text-decoration-line: none;
    box-shadow: none;
    appearance: none;
}

.\[\&\>span\]\:separator > span:not(:last-child)::after {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    vertical-align: middle;
    font-size: 0.5em;
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
    --tw-content: " ✦ ";
    content: var(--tw-content);
}

#guess {
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(0 34 24 / var(--tw-bg-opacity, 1));
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.25rem;
    line-height: 1;
    font-family: "Alegreya", ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#youGuessed {
    font-family: "Alegreya Sans", ui-sans-serif, system-ui, sans-serif;
    font-weight: 500;
    letter-spacing: .025em;
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity, 1));
}

#pencil {
    width: 1rem;
    height: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.answerTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5rem;
    align-items: center;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    --tw-text-opacity: 1;
    color: rgb(0 34 24 / var(--tw-text-opacity, 1));
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0em;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

#articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

#intro {
    padding: 2rem;
}

#introAndImage {
    display: flex;

}

#imageAndLinks {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

#callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
    text-decoration-line: underline;
    text-decoration-color: #7f7623;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

#globe {
    padding: 0;
    padding-top: 3px;
    padding-right: 3px;
    width: 1.2rem;
    height: 1.2rem;
}

.submitButton:hover {
    background-color: rgb(4 120 87 / var(--tw-border-opacity, 1));
}

.navButton {
    border-style: solid;
    border-width: 1px;
    --tw-border-opacity: 1;
    background-color: rgb(6 78 59);
    border-color: rgb(4 120 87 / var(--tw-border-opacity, 1));
}

.navButton:hover {
    background-color: rgb(4 120 87 / var(--tw-border-opacity, 1));
    color: white;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

#answerWrong {
    background-color: #f87171e6;
}

#answerRight {
    background-color: #34d399cc;
}

#guess::placeholder {
    font-style: italic;
    --tw-text-opacity: 1;
    color: rgb(110 231 183);
}

#finalScoreAndResults {
    display: flex;
    flex-direction: column;
}

#allFinalResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#finalScore {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #03593e;
    border-style: solid;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    /* color: rgb(251 191 36 / var(--tw-text-opacity, 1)); */
}

.finalResults {
    font-size: 1.5rem;
    text-underline-offset: 4px;
}

.correctColor {
    color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}

.wrongColor {
    color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

.correctFinal {
    padding-bottom: 1rem;
    --tw-text-opacity: 1;
    color: rgb(52 211 153 / var(--tw-text-opacity, 1));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}

.wrongFinal {
    padding-bottom: 1rem;
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity, 1));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

#archiveButton {
    display: flex;
    flex-direction: column;
}

#calendar {
    width: 2rem;
    height: 2rem;
}

#archiveButtonText {
    font-size: 1rem;
}

#archive {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.archiveDays {
    margin: 1em;
    margin-top: 1em;
    font-size: 1.25rem;
}

@media screen and (max-width: 500px) {
    .columns { visibility: hidden;}
    #app {border: none}
    body {
        background-size: contain;
        background-position: top 20px left 100px;
    }

    #titles { flex-direction: column};
    #title {font-size: 1.5rem; padding: 0;}
    #fishingTitle {font-size: 2.25rem;}
    #subtitle {font-size: 0.6rem; padding-top: 4px}

    #mainContent {width: 100%;}
    #questionDiv {padding: 10px;}
    #questionDirection {font-size: 0.9rem;}

    #instructions {font-size: 1rem;}
    .instructionItem {line-height: 1.25rem;}
    #instructContainer { margin: 0;}

    .categories {font-size: 1rem;}
    #questionInterface {height: auto; position: fixed; bottom: 0; }
    #guess {font-size: 1.5rem;}
    
    .answerTitle {width: 100%; height: auto; padding: 0; font-size: 1.75rem; border-style: solid; border-width: 1px; border-color: #03593e;}
    #articleInfo { margin: 0; }
    #image { height: auto; width: 125px; }
    #imageAndLinks {padding: 1rem;}
    #intro {padding: 0; font-size: 0.8rem;}
    #link {font-size: 0.7rem;}
    #youGuessed {font-size: 0.7rem;}
    #currGuess {font-size: 0.7rem; margin-top: 100px;}
    #score {margin-bottom: 5px; }
    
    #nextButton { height: auto; position: fixed; bottom: 0; }
    #resultsButton { height: auto; position: fixed; bottom: 0; }

    .finalResults { font-size: 1rem; text-align: left;}
    .finalIcon { height: 40px; width: 40px;}
}